<div class="login-wrapper">
  <form class="login" (ngSubmit)="onSubmit()" #f="ngForm">
    <section class="title">
      <h3 class="welcome">Welcome to</h3>
      Datack SQL
      <h5 class="hint">Please provide your e-mail address to reset your password.</h5>
    </section>
    <div class="login-group">
      <clr-input-container>
        <input
          type="text"
          name="username"
          clrInput
          placeholder="E-mail address"
          [(ngModel)]="email"
          autocomplete="username"
        />
      </clr-input-container>
      <div class="error active" *ngIf="error">
        {{ error }}
      </div>
      <div class="success" *ngIf="success">
        An e-mail was sent with a reset link, please follow the instructions in the email to continue.
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="success || f.invalid" [clrLoading]="loadingState">
        Reset password
      </button>
    </div>
  </form>
</div>
