<div class="login-wrapper">
  <form class="login" (ngSubmit)="onSubmit()" #f="ngForm">
    <section class="title">
      <h3 class="welcome">Welcome to</h3>
      Datack SQL
      <h5 class="hint">Set a new password. Password must a minimum of 10 characters.</h5>
    </section>
    <div class="login-group">
      <clr-password-container>
        <input
          type="password"
          name="password"
          clrPassword
          placeholder="Password"
          [(ngModel)]="password1"
          autocomplete="current-password"
        />
      </clr-password-container>
      <clr-password-container>
        <input
          type="password"
          name="password"
          clrPassword
          placeholder="Password again"
          [(ngModel)]="password2"
          autocomplete="current-password"
        />
      </clr-password-container>
      <div class="error active" *ngIf="error">
        {{ error }}
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid" [clrLoading]="loadingState">
        Reset Password
      </button>
    </div>
  </form>
</div>
